.regular-button {
    min-width: 100px;
    min-height:30px;
    padding: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color:white;
    cursor: pointer;
    border:none;
}

.regular-button:hover {
    background-color: white;
    border:1px solid black;
    color:black;
}

.login-button {
    min-width: 100px;
    min-height:35px;
    padding: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2F2FA2;
    color:white;
    cursor: pointer;
    border:none;
}

.login-button:hover {
    background-color: white;
    border:1px solid #2F2FA2;
    color:black;
}