.vendor-side-nav {
    height: 80vh;
    /* width: 25vw; */
    background-color: blueviolet;
    padding:1rem;
}

.vendor-side-nav ul {
    list-style: none;
}

.vendor-side-nav ul li {
    border-bottom: 1px dashed white;
}