

.main-container section {
    width:100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#landing {
    /* border:1px solid red; */
    background-color: #2F2FA2;
    flex-direction: row;    
}

#landing .landing-content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
    animation: landing-content-movement ease 1s;
    text-shadow: 3px 3px 7px rgba(0, 0, 0, 0.7);
}

@keyframes landing-content-movement {
    0%{
        transform: translateX(-250px);
    }

    75% {
        transform: translateX(20px);
    }

    100%{
        transform: translateX(0);
    }
}

#landing .landing-content-container h1 {
    font-size:3rem;
}

#landing .landing-content-container h2 {
    font-size:1.5em;
    color:#F64C72;
}

#landing .landing-image-container {
    height:70vh;
    width:45vw;
    /* border: 1px solid white; */
    animation: landing-image-movement ease 1s;
}

@keyframes landing-image-movement {
    0%{
        transform: translateX(300px);
    }

    75% {
        transform: translateX(-20px);
    }

    100%{
        transform: translateX(0);
    }
}

.landing-image {
    width: 100%;
    height: 100%;
}

#about {
    background-color: white;
}


#about .about-content-container {
    width:100%;
    height:100%;
    /* border: 1px solid white; */
    display: flex;
    flex-wrap: wrap;
    font-family: var(--h1-style);
}

/* #services {
    /* background-color: #99738E;     
} */

#services .services-container {
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    /* border:1px solid red; */
}


#services .services-container > div > .services-container-image {
    height:60vh;
    width:25vw;
    border:1px solid white;
    cursor: pointer;    
}

#services .services-container > div { 
    transition: transform ease .5s;
    border-radius: 15px;
    box-shadow: -2px 5px 10px 10px rgba(0,0,0,0.2);
    overflow: hidden;
    position: relative;
}

#services .services-container > div:hover { 
    transform:scale(1.05);
}

#services .services-container > div > a { 
    position: absolute;
    top:10%;
    left:45%;    
}

#contact {
    background-color: cadetblue;
}

#services > h1 {
    font-size: 3rem;
    color: var(--on-background);
    font-family: var(--h1-style);
}

#contact > h1 {
    margin:5rem auto;
    font-size: 3rem;
    color: var(--on-background);
    font-family: var(--h1-style);
    /* font-weight: 700; */
}

.fab {
    font-size: 100px;
    margin-right: 50px;
    cursor: pointer;
    color: var(--on-primary);
    transition: transform ease .5s;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.fab:hover {
    color: var(--primary-color);
    transform: scale(1.3);
}

/* svg {
    border:5px solid white;
} */