.main-container section {
    width:100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about {
    background-color: pink;
}

#services {
    background-color: beige;
}

#contact {
    background-color: cadetblue;
}