.signup-page-container {
    top:0;
    width: 100vw;
    height:100vh;    
    display: flex;
    justify-content: center;
    align-items: center;
    z-index:10;
}

.signup-bg-image-layer-1 {
    /* content:""; */
    background-color: #2F2FA2;
    /* clip-path: polygon(0 0, 100% 0%, 0 99%, 0% 100%); */
    position:fixed;
    width: 100vw;
    height:100vh; 
    z-index:-1;  
    overflow: hidden;    
}

.signup-bg-image-layer-1 > svg {
    /* background-color:#2F2FA2; */
    /* transform:scale(2.3) translateX(-65px) translateY(-200px); */
    transform:scale(2.3) translateX(-5%) translateY(-13%);
    animation: svg-animation ease-out 1.3s;
    /* text-shadow: 12px 5px 10px 10px rgba(0,0,0,0.7); */
    /* transition: transform ease 2s; */
}

/* .signup-form-container:hover .bg-image-layer-1 {
    background-color:#2F2FA2;
    /* transform:scale(5) translateX(-65px) translateY(-200px);
} */

.signup-form-container {
    width:370px;
    height:370px;
    /* margin:9% auto; */
    border:1px solid black;
    background-color:white;
    border-radius:5px;
    box-shadow: 10px 8px 15px 1px rgba(0,0,0,0.35);    
    border:none;
    animation: signup-form-animation ease 1s;
    /* overflow: hidden; */
    /* clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%); */
}

.signup-form-container > .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding:1rem;
}

.signup-form-container > .logo-container > a {
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 0.2rem;
    font-family: Kaushan Script, Roboto, sans-serif;
}

.signup-form-container > .signup-form-element-container {
    width:100%;
    height:70%;
    /* overflow: hidden; */
}

.signup-form-container > .signup-form-element-container > form {
    width:70%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin:1rem auto;
    /* border:1px solid black; */
}

.signup-form-container > .signup-form-element-container > form input,select {
    width:100%;
    height: 40px;
    border:1px solid black;
    /* background-color: #bbbbf8; */
    border-radius:.2rem;
    padding:.5rem;
    margin-bottom:1rem;
}

.signup-form-container > .signup-form-element-container > form input:focus,select:focus {
    background-color: white;
    outline: none;
    border:3.5px solid #F64C72;
}

.signup-button-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border:1px solid black; */
}

@keyframes signup-form-animation {
    0% {
        transform: translateY(-100px);
    }

    75% {
        transform: translateY(30px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes svg-animation {
    from {
        transform: scale(1.5);
    }

    to {
        transform: scale(2.3) translateX(-5%) translateY(-13%);
    }
}